footer {
  width: 100%;
  height: 11.2rem;
  padding: $s-size 0;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: darken($dark-blue, 7.5%);
}

.footer-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer-container__social-network {
  font-size: $l-size;
}

.footer-container__social-network i {
  color: $white;
  margin: 0 .8rem;
  transition: .35s;

  &:hover {
    color: $gold-brown;
    transform: scale(1.05) translateY(-2px);
  }
}

.copyright p {
  font-size: $s-size;
}