.navigation {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $gold-brown;
}

.navigation__logo {
  font-size: $xl-size;
  margin: 0rem;
  color: $gold-brown;
  font-weight: 500;

  @media (max-width: $breakpoint-one) {
    font-size: 4rem;
  }
}

.navigation__logo__link {
  display: inline-block;
  font-size: $xl-size;
  margin: 0rem;
  color: $gold-brown;
  font-weight: 500;

  @media (max-width: $breakpoint-one) {
    font-size: 4rem;
  }
}

.navigation__navbar {
height: 100%;
}

.navigation__list {
  height: 100%;
  display: flex;
  align-items: center;
}

.navigation__item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $m-size;
  transition: all .35s;

  &:hover {
    background-color: darken($dark-blue, 10%);
  }
}

.navigation__link {
  height: 100%;
  padding: 0 $s-size;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $gold-brown;
}