nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $gold-brown;
}

.navigation {
  height: 100%;
}

nav ul {
  height: 100%;
  display: flex;
  align-items: center;
}

nav li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $m-size;
  transition: all .35s;

  &:hover {
    background-color: darken($dark-blue, 10%);
  }


}

nav li a {
  height: 100%;
  padding: 0 $s-size;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $gold-brown;
}