.projects-intro {
  width: 100%;
  margin: $l-size 0 $xl-size 0;
}

.projects__header-1 {
  margin-bottom: $s-size;
}

.projects__link {
  color: $cyan;
}

.projects-list__item {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;

  @media (max-width: $breakpoint-one) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .5fr;
  }
}

.projects-list__description {
  padding-right: $m-size;
  display: flex;
  flex-direction: column;

  @media (max-width: $breakpoint-one) {
    padding-right: 0;
  }
}

.projects-heading-2 {
  margin-bottom: $s-size;
}

.projects__img {
  width: 100%;
  height: auto;
  border: 3px solid $gold-brown;
}

.projects__links {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  font-size: $s-size;
  
  @media (max-width: $breakpoint-one) {
    font-size: 2rem;
    margin: 1.25rem 0;
  }
}

.projects__links__icon {
  margin-right: .5rem;
}

.projects__additional-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: $m-size;

  @media (max-width: $breakpoint-one) {
    margin-top: $l-size;
    padding-left: 0;
    display: grid;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.projects__heading-3 {
  margin-bottom: $s-size;
  font-size: 2.8rem;
}

.projects__additional-info__icon {
  width: 2rem;
  height: 2rem;
  margin-right: $xs-size;
  font-size: 2rem;

  @media (max-width: $breakpoint-one) {
    font-size: 2rem;
    margin-right: 1rem;
  }
}

.projects__paragraph {
  margin-bottom: .5rem;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: $s-size;

  @media (max-width: $breakpoint-one) {
    font-size: 2rem;
  }

}

.projects__technologies-used__icon {
  font-size: 2rem;

  @media (max-width: $breakpoint-one) {
    font-size: 2rem;
  }
}

.projects__features-used {
  margin-top: 2rem;

  @media (max-width: $breakpoint-one) {
    margin-top: 0;
  }
}

.projects__features-used__list {
  font-size: $s-size;
  margin-bottom: .5rem;
  list-style: none;

  @media (max-width: $breakpoint-one) {
    font-size: 2rem;
  }
}

.projects__features-used__icon {
  width: 2rem;
  height: 2rem;
  margin-right: .5rem;

  @media (max-width: $breakpoint-one) {
    margin-right: 1rem;
  }
}

.projects-list:last-child {
  margin-bottom: 8rem;
}