.heading-1 {
  margin-bottom: $l-size;
  letter-spacing: .25rem;
  font-size: $xl-size;
  color: $gold-brown;
}

.heading-2 {
  margin-bottom: 1rem;
  font-size: $l-size;
  color: $gold-brown;
}

.heading-3 {
  font-size: $m-size;
  color: $gold-brown;
}

.paragraph-1 {
  font-size: $m-size;
  line-height: 1.5em;
}

.paragraph-2 {
  font-size: $s-size;
  line-height: 1.5em;
}

.list-1 {
  list-style: none;
}

.link-1 {
  text-decoration: none;
}
